<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="Assem1">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-1.1102E-16 -0.00175 2.2204E-16"
        rpy="0 0 0" />
      <mass
        value="0.068175" />
      <inertia
        ixx="5.1738E-06"
        ixy="-8.2796E-22"
        ixz="-2.0969E-20"
        iyy="0.0024002"
        iyz="1.9703E-23"
        izz="0.0023952" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Assem1/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.2157 0.6039 0.2392 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Assem1/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
</robot>